<div class="container py-4">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6 mx-auto">
  
            <div class="card rounded-0 p-3">
              <div class="card-header">
                <h3 class="mb-0 text-center">Forgot Password</h3>
                <img src="https://media.istockphoto.com/vectors/cartoon-veterinarian-character-with-cat-and-dog-vector-id1128209921?b=1&k=6&m=1128209921&s=170667a&h=SdPa_CvecW3H9NpmXcY9n7X0gI2y9KrX1VBYbfjsJwI=" class="mx-auto d-block my-3 w-50" alt="" srcset="">
              </div>
              <div class="displayTable">
                <div class="displayTableCell">
                  <div class="authBlock">
  
        <p class="text-center my-3">Please enter your email address to request a password reset.</p>
  
        <div class="formGroup my-3">
          <input type="email" class="form-control" placeholder="Email Address" #passwordResetEmail required>
        </div>
  
        <!-- Calling ForgotPassword from AuthService Api -->
        <div class="form-group row justify-content-center">
          <input type="submit" class="btn btn-primary" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
        </div>
      </div>
  
      <div class="redirectToLogin row justify-content-center">
        <span>Go back to ? <span class="redirect" routerLink="/sign-in">Log In</span></span>
      </div>
  
    </div>
  </div>
</div>
</div>

</div>
</div>
<!--/row-->
</div>
<!--/col-->
</div>

