 <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="collapse navbar-collapse float-right" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link text-white" (click)="authService.dashboard()">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" (click)="authService.SignOut()">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>
  
  <!-- Sidebar navigation -->
  <div class="container mt-5">
    <h1 class="font-weight-bold text-center">User Profile</h1>
  </div>
  <div class="container-fluid mt-1 row justify-content-center">
    <div class="row">
      <!-- Main content -->
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10">
        <div class="inner-adjust">
          <!-- Show user data when logged in -->
          <div class="row justify-content-center" *ngIf="authService.userData as user">
            <div class="col-md-12">
              <div class="media">
                <img class="align-self-start mr-5 img-fluid rounded-circle w-25 p-5" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
                  alt="{{user.displayName}}">
                <div class="media-body my-5">
                  <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
                  <p>Email: <strong>{{user.email}}</strong></p>
                  <div class="form-group">
                    <input type="submit" (click)="authService.registro()" class="form-control w-75 btn btn-success" value="Registrar Cliente" placeholder="Registrar Cliente" #registrocliente>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </main>
  
    </div>
  </div>
