<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="collapse navbar-collapse float-right" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-white" (click)="authService.dashboard()">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" (click)="authService.SignOut()">Log Out</a>
      </li>
    </ul>
  </div>
</nav>

<section class="py-4">
  <div class="container">
    <h3 class="text-center text-dark pb-2 border-bottom border-dark">
      Veterinaria Lissette - Registro de Clientes
    </h3>
    <div class="row justify-content-center mt-5">
      <form #clienteForm="ngForm" class="w-100" (ngSubmit)="onSubmit(clienteForm)">
       
        <!-- TO UPDATE -->
        <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="clienteService.selectedCliente.$key">
       
        <div class="form-group row justify-content-center">
          <input
            type="text"
            [(ngModel)]="clienteService.selectedCliente.nombre"
            name="nombre"
            #nombre="ngModel"
            id="nombre"
            class="form-control w-50"
            required
            placeholder="Nombre del Cliente"
          />
        </div>
        <div class="form-group row justify-content-center mt-2">
          <input
            type="text"
            [(ngModel)]="clienteService.selectedCliente.dui"
            name="dui"
            #dui = "ngModel"
            id="dui"
            class="form-control w-50"
            required
            placeholder="DUI"
          />
        </div>
        <div class="form-group row justify-content-center mt-2">
          <input
            type="text"
            [(ngModel)]="clienteService.selectedCliente.mascota"
            #mascota = "ngModel"
            name="mascota"
            id="mascota"
            class="form-control w-50"
            required
            placeholder="Nombre de la Mascota"
          />
        </div>
        <div class="form-group row justify-content-center mt-2">
          <input
            type="text"
            [(ngModel)]="clienteService.selectedCliente.tratamiento"
            #tratamiento = "ngModel"
            name="tratamiento"
            id="tratamiento"
            class="form-control w-50"
            required
            placeholder="Tratamiento"
          />
        </div>
        <div class="form-group row justify-content-center mt-2">
          <input
            type="text"
            [(ngModel)]="clienteService.selectedCliente.medicamento"
            #medicamento = "ngModel"
            name="medicamento"
            id="medicamento"
            class="form-control w-50"
            required
            placeholder="Medicamento Recetado"
          />
        </div>
        <div class="form-group row justify-content-center mt-2">
          <input
            type="text"
            [(ngModel)]="clienteService.selectedCliente.costo"
            #costo = "ngModel"
            name="costo"
            id="costo"
            class="form-control w-50"
            required
            placeholder="Costo"
          />
        </div>
        <div class="form-group row justify-content-center my-4">
          <button type="submit" class="btn btn-success form-control w-25" >
            Ingresar
          </button>
          
        </div>
        <div class="form-group row justify-content-center my-4">
          <button type="reset" class="btn btn-dark form-control w-25" (click)="resetForm(clienteForm)">
            Borrar
          </button>
          
        </div>


      </form>
      <br />

      <br />
    </div>
  </div>
</section>

   

 <section class="my-2">
  <div
    id="ticket"

    class="container text-center p-3 border w-75 border-dark"
  >
    <h2 class="border-bottom border-dark">Ticket</h2>
    <h6 class="my-4">Veterina Lissette</h6>
    <h6 class="my-4">Detalles</h6>
    <strong>Cliente: </strong><label class="pr-2">{{ clienteForm.value.nombre }}</label>
    <strong>DUI: </strong><label class="pl-2">{{ clienteForm.value.dui }}</label> <br />
    <strong>Nombre de mascota: </strong><label class="">{{ clienteForm.value.mascota }}</label>
    <br />
    <strong>Tratamiento: </strong><label class="">{{ clienteForm.value.tratamiento }}</label>
    <br />
    <strong>Medicamento: </strong><label class="pr-2">{{ clienteForm.value.medicamento }}</label>
    <strong>Costo: $</strong><label class="pl-2"> {{ clienteForm.value.costo }} </label>
    <br />
    <strong>Descuento: $</strong><label class="pl-2">  </label>
    <strong>Total a pagar: $</strong><label class=""> {{ clienteForm.value.costo }} </label> <br />
    <label class="mt-5">San Salvador, El Salvador,  fecha </label>
  </div>
</section> 

<app-lista-clientes></app-lista-clientes>