<section class="pb-2 pt-4" id="registros" 
>
    <div class="d-flex justify-content-center">
      <div class="table-responsive w-75">
        <table class="table text-center">
          <thead class="bg-primary">
            <tr>
              <th scope="col" class="text-white">Nombre</th>
              <th scope="col" class="text-white">DUI</th>
              <th scope="col" class="text-white">Mascota</th>
              <th scope="col" class="text-white">Tratamiento</th>
              <th scope="col" class="text-white">Medicamento</th>
              <th scope="col" class="text-white">Costo</th>
              <th scope="col" class="text-white">Visita</th>
              <th scope="col" class="text-white">Descuento</th>
              <th scope="col" class="text-white">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cliente of clienteList">
              <th scope="row">{{ cliente.nombre }}</th>
              <td>{{ cliente.dui }}</td>
              <td>{{ cliente.mascota }}</td>
              <td>{{ cliente.tratamiento }}</td>
              <td>{{ cliente.medicamento }}</td>
              <td>{{ cliente.costo }}</td>
              <td>{{ cliente.total }}</td>
              <td></td>
              <td>
                <a class="btn btn-secondary text-white" (click)="onEdit(cliente)">
                    <i class="far fa-edit">⟲</i>
                </a>
                <a class="btn btn-danger text-white" (click)="onDelete(cliente.$key)">
                    <i class="fas fa-trash-alt">X</i>
                </a>
            </td>
            </tr>
          </tbody>
        </table>
      </div>
     
    </div>
  </section>